.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
}

.main {
  flex: 1;
  padding-top: 125px; /* 45px отступ от края + 80px высота хедера */
  padding-bottom: 80px;
  background-color: #fafafa;
}

@media (max-width: 768px) {
  .main {
    padding-top: 141px; /* 45px отступ от края + 96px высота хедера */
    padding-bottom: 60px;
  }
}

@media (max-width: 480px) {
  .main {
    padding-top: 101px; /* 45px отступ от края + 56px высота хедера */
    padding-bottom: 50px;
  }
}
